<a href="https://colab.research.google.com/github/jjean95/TalentLabs/blob/main/SQL/Titanic/SQL_in_python_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('/content/drive/MyDrive/Talent Labs/Foundation/SQL/Titanic/titanic.db')
print("Opened database successfully");

Opened database successfully

In [ ]:
cursor = conn.execute('''
          SELECT * 
          FROM passengers
          LIMIT 20 ''')
for column in cursor.description:
  print(column[0])
for row in cursor:
  print(row)

In [ ]:
# Check how many missing data in age
cursor = conn.execute('''
          SELECT COUNT(*) 
          FROM passengers
          WHERE Age IS null
          ''')
for column in cursor.description:
  print(column[0])
for row in cursor:
  print(row)

In [ ]:
# Check how many missing data in cabin
cursor = conn.execute('''
          SELECT COUNT(*) 
          FROM passengers
          WHERE Cabin IS null OR Cabin = 0
          ''')
for column in cursor.description:
  print(column[0])
for row in cursor:
  print(row)

In [ ]:
# Check how many missing data in embarked
cursor = conn.execute('''
          SELECT COUNT(*) 
          FROM passengers
          WHERE Embarked IS null
          ''')
for column in cursor.description:
  print(column[0])
for row in cursor:
  print(row)

In [ ]:
# Check how many missing data in embarked
cursor = conn.execute('''
          SELECT COUNT(*) 
          FROM passengers
          WHERE Age IS NOT null
          ''')
for column in cursor.description:
  print(column[0])
for row in cursor:
  print(row)

In [ ]:
# Survival rate of Titanic
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 /(SELECT count(*) FROM passengers),2) AS percentage
          FROM passengers
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Survived
survive_count
percentage
(0, 549, 61.62)
(1, 342, 38.38)

In [ ]:
#Survival rate of children/elderlies vs adult
cursor = conn.execute('''
          WITH Demographics AS (SELECT *,
          CASE
          WHEN Age BETWEEN  0 AND 18  then "Children"
          WHEN Age > 59  then "Elderlies" 
          WHEN Age > 18 AND Age < 60 then "Adult"
          Else "NULL"
          END AS Demo
          FROM passengers)
          SELECT COUNT(*), Demo
          FROM Demographics
          GROUP BY Demo
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

COUNT(*)
Demo
(579, 'Adult')
(91, 'Children')
(44, 'Elderlies')
(177, 'NULL')

In [ ]:
cursor = conn.execute('''
          WITH Demographics AS (SELECT *,
          CASE
          WHEN Age BETWEEN  0 AND 18  then "Children"
          WHEN Age > 59  then "Elderlies" 
          WHEN Age > 18 AND Age < 60 then "Adult"
          Else "NULL"
          END AS Demo
          FROM passengers)
          SELECT count(*), Demo, Survived,
          round(count(*) * 100.0 /(SELECT count(*) FROM 
          (SELECT *
          FROM Demographics
          WHERE Demo = 'Adult')),2) AS percentage
          FROM Demographics
          GROUP BY Demo, Survived
          Having Demo = 'Adult'
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

count(*)
Demo
Survived
percentage
(347, 'Adult', 0, 59.93)
(232, 'Adult', 1, 40.07)

In [ ]:
cursor = conn.execute('''
          WITH Demographics AS (SELECT *,
          CASE
          WHEN Age BETWEEN 0 AND 17 then "Children"
          WHEN Age > 59  then "Elderlies" 
          WHEN Age > 18 AND Age < 60 then "Adult"
          Else "NULL"
          END AS Demo
          FROM passengers)
          SELECT count(*), Demo, Survived,
          round(count(*) * 100.0 /(SELECT count(*) FROM 
          (SELECT *
          FROM Demographics
          WHERE Demo = 'Children')),2) AS percentage
          FROM Demographics
          GROUP BY Demo, Survived
          Having Demo = 'Children'
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

count(*)
Demo
Survived
percentage
(30, 'Children', 0, 46.15)
(35, 'Children', 1, 53.85)

In [ ]:
cursor = conn.execute('''
          WITH Demographics AS (SELECT *,
          CASE
          WHEN Age BETWEEN 0 AND 17  then "Children"
          WHEN Age > 59  then "Elderlies" 
          WHEN Age > 18 AND Age < 60 then "Adult"
          Else "NULL"
          END AS Demo
          FROM passengers)
          SELECT count(*), Demo, Survived,
          round(count(*) * 100.0 /(SELECT count(*) FROM 
          (SELECT *
          FROM Demographics
          WHERE Demo = 'Elderlies')),2) AS percentage
          FROM Demographics
          GROUP BY Demo, Survived
          Having Demo = 'Elderlies'
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

count(*)
Demo
Survived
percentage
(30, 'Elderlies', 0, 68.18)
(14, 'Elderlies', 1, 31.82)

In [ ]:
#Survivors
cursor = conn.execute('''
          SELECT Sex, count(*)
          FROM passengers
          GROUP BY Sex
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Sex
count(*)
('female', 314)
('male', 577)

In [ ]:
#Survivors male
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count, Sex,
          round(count(*) * 100.0 /(SELECT count(*) FROM passengers),2) AS percentage
          FROM passengers
          GROUP BY Survived, Sex
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Survived
survive_count
Sex
percentage
(0, 81, 'female', 9.09)
(0, 468, 'male', 52.53)
(1, 233, 'female', 26.15)
(1, 109, 'male', 12.23)

In [ ]:
#Survivors male
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Sex = 'male'),2) AS percentage
          FROM passengers
          WHERE Sex = 'male'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Survived
survive_count
percentage
(0, 468, 81.11)
(1, 109, 18.89)

In [ ]:
#Survivors female
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Sex = 'female'),2) AS percentage
          FROM passengers
          WHERE Sex = 'female'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Survived
survive_count
percentage
(0, 81, 25.8)
(1, 233, 74.2)

In [ ]:
#Class demographics
#class count
cursor = conn.execute('''
          SELECT Pclass, count(*)
          FROM passengers
          GROUP BY Pclass
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)
#1st class
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Pclass = '1'),2) AS percentage
          FROM passengers
          WHERE Pclass = '1'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)
#2nd class
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Pclass = '2'),2) AS percentage
          FROM passengers
          WHERE Pclass = '2'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)
#3rd class
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Pclass = '3'),2) AS percentage
          FROM passengers
          WHERE Pclass = '3'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Pclass
count(*)
(1, 216)
(2, 184)
(3, 491)
Survived
survive_count
percentage
(0, 80, 37.04)
(1, 136, 62.96)
Survived
survive_count
percentage
(0, 97, 52.72)
(1, 87, 47.28)
Survived
survive_count
percentage
(0, 372, 75.76)
(1, 119, 24.24)

In [ ]:
#Embarkation
#Embarkation count
cursor = conn.execute('''
          SELECT Embarked, count(*)
          FROM passengers
          GROUP BY Embarked
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

#C
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Embarked = 'C'),2) AS percentage
          FROM passengers
          WHERE Embarked = 'C'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

#Q
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Embarked = 'Q'),2) AS percentage
          FROM passengers
          WHERE Embarked = 'Q'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

#S
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Embarked = 'S'),2) AS percentage
          FROM passengers
          WHERE Embarked = 'S'
          GROUP BY Survived
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Embarked
count(*)
(None, 2)
('C', 168)
('Q', 77)
('S', 644)
Survived
survive_count
percentage
(0, 75, 44.64)
(1, 93, 55.36)
Survived
survive_count
percentage
(0, 47, 61.04)
(1, 30, 38.96)
Survived
survive_count
percentage
(0, 427, 66.3)
(1, 217, 33.7)

In [ ]:
#Without family
#Parch SibSp count
cursor = conn.execute('''
          SELECT Parch, SibSp, count(*)
          FROM passengers
          GROUP BY Parch, SibSp
          ''')
for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Parch
SibSp
count(*)
(0, 0, 537)
(0, 1, 123)
(0, 2, 16)
(0, 3, 2)
(1, 0, 38)
(1, 1, 57)
(1, 2, 7)
(1, 3, 7)
(1, 4, 9)
(2, 0, 29)
(2, 1, 19)
(2, 2, 4)
(2, 3, 7)
(2, 4, 9)
(2, 5, 5)
(2, 8, 7)
(3, 0, 1)
(3, 1, 3)
(3, 2, 1)
(4, 0, 1)
(4, 1, 3)
(5, 0, 2)
(5, 1, 3)
(6, 1, 1)

In [ ]:
#without family onboard
cursor = conn.execute('''
          SELECT Survived, count(*) AS survive_count,
          round(count(*) * 100.0 / (SELECT count(*) FROM passengers WHERE Parch = 0 AND SibSp = 0),2) AS percentage
          FROM passengers
          WHERE Parch = 0 AND SibSp = 0
          GROUP BY Survived
          ''')

for column in cursor.description:
  print(column[0])

for row in cursor:
  print(row)

Survived
survive_count
percentage
(0, 374, 69.65)
(1, 163, 30.35)

In [ ]:
#execute last
conn.close()